In [1]:
print ('hello world')

hello world

In [2]:
print ('Te Amo mucho')

Te Amo mucho

Lets get to it

In [3]:
import pandas as pd

In [32]:
df = pd.DataFrame ([[1,2,3,4],[5,6,7,8],[9,10,11,8]], columns = ['A','B','C','D'], index = ['x','y','z'])

In [33]:
df.head()

   A   B   C  D
x  1   2   3  4
y  5   6   7  8
z  9  10  11  8

In [23]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
 3   D       3 non-null      int64
dtypes: int64(4)
memory usage: 120.0+ bytes

In [26]:
df.describe()

         A     B     C          D
count  3.0   3.0   3.0   3.000000
mean   5.0   6.0   7.0   7.666667
std    4.0   4.0   4.0   4.041452
min    1.0   2.0   3.0   4.000000
25%    3.0   4.0   5.0   5.500000
50%    5.0   6.0   7.0   7.000000
75%    7.0   8.0   9.0   9.500000
max    9.0  10.0  11.0  12.000000

In [27]:
df

   A   B   C   D
x  1   2   3   4
y  5   6   7   7
z  9  10  11  12

In [34]:
df ['D'].nunique()

2

In [36]:
df.shape

(3, 4)